@import "tailwindcss";

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #2563eb;
  transition: width 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
}